@model IEnumerable<LuanVan.Models.GioHang>
@using LuanVan.Areas.Store.Models


@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
}
<section class="shop checkout section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12">
				<div class="checkout-form">
					<h2>Thông tin cần thiết</h2>
					<p>Đăng nhập để thanh toán nhanh hơn</p>
					<!-- Form -->
					@{
						HoaDonModel hd = (HoaDonModel)ViewData["info"];
					}
					<partial name="_Info" model="hd" />
				</div>
			</div>
			<div class="col-lg-4 col-12">
				<div class="order-details">

					<partial name="_Cart_checkout" model="Model" />
					<!--/ End Order Widget -->
					<!-- Order Widget -->
					<div class="single-widget">
						<h2>Phương thức thanh toán</h2>
						<div class="content pt-2 px-5">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="payment" id="cod" checked>
								<label class="form-check-label" for="cod">
									Thanh toán khi nhận hàng
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="payment" id="zalopay">
								<label class="form-check-label" for="zalopay">
									Ví ZaloPay
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="payment" id="bank">
								<label class="form-check-label" for="bank">
									Thẻ tín dụng
								</label>
							</div>
						</div>
					</div>
					<!-- Button Widget -->
					<div class="single-widget get-button">
						<div class="content">
							<button class="btn" type="submit" form="info">Thanh toán</button>
						</div>
					</div>
					<!--/ End Button Widget -->
				</div>
			</div>
		</div>
	</div>
</section>